/***********************************************************
            Carts Page CSS
/***********************************************************/

$border-bottom: 1px solid #dfdfdf;
.cart {
  font-size: 0.88rem; // 16px | 0.77 = 14px
  margin: 8% 0%;

  &__row {
    max-width: 1150px;
    margin: 0 auto;
  }

  &__container {
    display: flex;
  }

  &__left {
    flex-basis: 70%;
    margin-right: 2%;

    & .cart_items_box_container {
      margin-top: 1rem;

      & > div .cart_item_box_top {
        font-weight: 700;
        padding: 1.5rem 2.5rem 1.5rem 1.2rem;
        border-bottom: $border-bottom;

        display: flex;
        justify-content: space-between;
        align-items: center;

        & p {
          margin: 0;
        }

        & > div {
          display: flex;
          color: #797979;
          & svg {
            font-size: 1.5rem;
          }

          & > p {
            margin: 0;
          }
        }
      }

      & > div .cart_items_by_shop {
        & .cart_shop_details {
          padding: 1.2rem 2.5rem 1.2rem 1.2rem;
          border-bottom: $border-bottom;

          & > div {
            display: flex;
            align-items: center;
            font-weight: 700;
            margin-bottom: 0.2rem;

            & .cart_shop_name {
              margin-right: auto;
              color: #ca091b;

              display: flex;
              align-items: center;

              & .cart-checkbox {
                margin-right: 1.8rem;
              }

              & p {
                margin: 0;
              }

              & svg {
                font-size: 1.6rem;
              }
            }
          }

          & p:last-child {
            padding-left: 2.8rem;
            margin-top: 10px;
            font-size: 0.77rem;
            margin: 0;
          }
        }
      }
    }
  }

  &__preferred_delivery {
    font-weight: 700;
  }

  &__left-top {
    padding: 1em;
    color: #bbb;
    font-weight: 500;
    font-size: 0.77rem;

    & > div {
      display: flex;
      align-items: center;
      margin-bottom: 0.4em;

      & svg {
        font-size: 1.6rem;
        margin-right: 0.6rem;
      }

      & p {
        margin: 0px;
      }
    }

    & > p {
      padding-left: 2.1rem;
    }
  }

  &__right {
    flex-basis: 30%;
  }

  &__right-container {
    // padding: 1.5em;
  }

  &__right-header {
    border-bottom: $border-bottom;

    & > p {
      font-size: 1rem;
      font-weight: 700;
      padding: 1rem 1.2rem;
      margin: 0;
    }
  }

  &__right-order_details {
    border-bottom: $border-bottom;
  }

  &__right-order_details_inner {
    padding: 1rem 1.2rem;
    font-size: 0.77rem;
    font-weight: 500;

    & div:last-child {
      margin-top: 0.5rem;
    }
  }

  &__right-order_details_item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & p:first-child {
      flex-basis: 65%;
    }

    & p:last-child {
      flex-basis: 35%;
      color: #dc3545;
    }
  }

  &__right-footer {
    padding: 1.2rem;

    & div:last-child {
      display: flex;
      justify-content: center;
    }
  }

  &__right-discount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
}

.simple-input {
  width: 100%;
  padding: 0.7em 1em;
  font-size: 0.77rem;
  border: 1px solid #707070;
  border-radius: 4px;

  &:focus {
    outline: 0;
  }
}

.cart-checkbox {
  width: 1.1rem;
  height: 1.1rem;
}

.simple-btn {
  outline: none;
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 0.7em 1.5em;

  font-weight: 500;
  font-size: 0.77rem;
  font-family: inherit;
  text-transform: uppercase;

  &.success {
    background-color: #16b62a;
  }

  &.danger {
    background-color: #ca091b;
  }
}
