/***********************************************************
            Carts Page CSS
/***********************************************************/
.cart {
  font-size: 0.88rem; // 16px | 0.77 = 14px
  margin: 8% 0%;

  &__row {
    width: 1150px;
    margin: 0 auto;
  }

  &__container {
    display: flex;
  }

  &__left {
    flex-basis: 70%;
    margin-right: 2%;
  }

  &__preferred_delivery {
    font-weight: 700;
  }

  &__left-top {
    padding: 1em;
    color: #bbb;
    font-weight: 500;
    font-size: 0.77rem;

    & > div {
      display: flex;
      align-items: center;
      margin-bottom: 0.4em;

      & svg {
        font-size: 1.6rem;
        margin-right: 0.6rem;
      }

      & p {
        margin: 0px;
      }
    }

    & > p {
      padding-left: 2.1rem;
    }
  }

  &__right {
    flex-basis: 30%;
  }

  &__right-container {
    // padding: 1.5em;
  }

  &__right-header {
    border-bottom: 1px solid #dfdfdf;

    & > p {
      font-size: 1rem;
      font-weight: 700;
      padding: 1rem 1.2rem;
      margin: 0;
    }
  }

  &__right-order_details {
    border-bottom: 1px solid #dfdfdf;
  }

  &__right-order_details_inner {
    padding: 1rem 1.2rem;
    font-size: 0.77rem;
    font-weight: 500;

    & div:last-child {
      margin-top: 0.5rem;
    }
  }

  &__right-order_details_item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & p:first-child {
      flex-basis: 65%;
    }

    & p:last-child {
      flex-basis: 35%;
      color: #dc3545;
    }
  }

  &__right-footer {
    padding: 2rem;

    & div:last-child {
      display: flex;
      justify-content: center;
    }
  }

  &__right-discount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
}
