/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@@100;300;400;500;600;700&display=swap"); */

/*****************************************************************
                        Global CSS Part :: Start
/*****************************************************************/

body {
  background-color: #f6f6f6 !important;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
}

h6,
h5,
h4,
h3,
h2,
h1,
p,
div,
a,
button {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.border-radius-5 {
  border-radius: 5px;
}

.border-radius-10 {
  border-radius: 10px;
}

.pointer {
  cursor: pointer;
}

/*****************************************************************
                        Global CSS Part :: End
/*****************************************************************/

.custom-button-component,
a .custom-button-component {
  background-color: #e9000f;
  color: #fff !important;
  border: 2px solid #e9000f;
  padding: 5px 15px;
  border-radius: 3px;
  font-weight: 600;
  transition: 0.6s;
  text-transform: capitalize;
  text-decoration: none !important;
}

.custom-button-component:hover,
a .custom-button-component:hover {
  background-color: #fff;
  color: #e9000f !important;
  text-decoration: none;
}

.not-allowed {
  cursor: not-allowed;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #237e33 !important;
}

/*****************************************************************
                        Header CSS Part :: Start
/*****************************************************************/

.header-top {
  background-color: #0c7e33;
  color: #fff;
  font-weight: 200;
  padding: 10px;
}

.dropdown-currency button {
  padding: 0px;
  color: #fff !important;
}

.heading-top-right div,
.heading-top-right button,
.heading-top-right p {
  font-size: 14px !important;
  font-weight: 500;
}

.heading-top-text {
  font-size: 12px;
  margin-right: 15px;
  margin-bottom: 0px;
  font-weight: 300;
}

.heading-top-text .holyday-shopping {
  font-size: 1.2em;
  font-weight: 400;
}

.heading-top-text .custom-fontAwesome {
  font-size: 1.2em;
  margin-right: 5px;
}

.header-nav-link {
  font-size: 14px;
}

.cart-nav-link svg {
  background: #ea3732;
  color: #fff;
  padding: 5px;
  border-radius: 14px;
  font-size: 10px;
  width: 20px !important;
  height: 20px;
}

.cart-nav-link .cart-qty {
  position: absolute;
  background: #16b62a;
  color: #fff;
  font-size: 10px;
  width: 17px;
  height: 17px;
  padding: 1px 0px 7px 3px;
  margin-left: -7px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  top: 23%;
}

.custome-select {
  background-color: transparent !important;
  color: #fff;
  font-size: 1em;
  border: none !important;
  font-family: inherit !important;
  margin-right: 10px;
  margin-top: -5px;
  cursor: pointer;
  font-weight: 200;
}

.custome-select:focus-visible {
  outline: none !important;
}

.header-container-section {
  margin: 0px 5%;
  width: 100%;
}

.navbar {
  flex-wrap: wrap !important;
}

.custome-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.header-search-product {
  position: relative;
  display: flex;
  width: 55%;
  line-height: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 9px -3px rgba(57, 54, 54, 0.44);
  -webkit-box-shadow: 2px 4px 9px -3px rgba(57, 54, 54, 0.44);
  -moz-box-shadow: 2px 4px 9px -3px rgba(57, 54, 54, 0.44);
  margin-left: 8%;
}

.header-search-product input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 15px;
  font-weight: 500;
  color: #8b8b8b;
}

.header-search-product .header-custom-prepend {
  background-color: #e9000f;
  padding: 10px 20px;
  color: #fff;
  font-size: 1.3em;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.brand-logo {
  width: 150px;
  height: 100px;
}

.header-nav a {
  margin: 5px 15px;
  text-decoration: none !important;
  color: #000;
  font-weight: 500;
  font-size: 14px;
}

.header-nav a .custom-fontAwesome {
  color: #e9000f;
}

.menu_list {
  padding: 15px;
  padding-left: 69px;
}

.rc-menu__item {
  font-size: 14px;
}

.rc-menu-button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-transform: uppercase;
  background-color: transparent;
  font-size: 12px;
  font-weight: 500;
  margin: 0px 2px;
  margin-bottom: 10px;
  display: inline-flex;
}

.rc-menu-button svg {
  margin-left: 10px;
}

.all_category_menu {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: transparent;
  font-size: 13px;
  /* font-weight: 500; */
  /* margin: 0px 5px; */
  /* margin-left: 5px; */
  margin-bottom: 10px;
  color: #172337;
  text-decoration: none !important;
  display: block;
}

.rc-menu-button .custom-fontAwesome {
  font-size: 15px;
}

/*****************************************************************
                        Header CSS Part :: End
/*****************************************************************/

/*================Home Banner Carousel==============*/

.home-banner-carousel img {
  height: 450px;
}

.carousel-indicators {
  position: absolute;
  top: 40% !important;
  left: 80% !important;
  z-index: 15;
  display: block !important;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators li {
  height: 10px !important;
  width: 10px !important;
  border: 3px solid white !important;
  background-color: rgba(255, 255, 255, 0.897);
  border-radius: 50% !important;
  margin-top: 6px !important;
}

.carousel-indicators .active {
  background-color: transparent !important;
}

.carousel-control-next,
.carousel-control-prev {
  display: none !important;
}

.home-carousel-caption {
  left: 0 !important;
  top: 0 !important;
  margin-top: 15px;
  margin-left: 20px;
  text-align: left !important;
  padding: 50px 50px !important;
  width: 50%;
}

.home-carousel-caption .home-carousel-text {
  color: #e9000f;
  font-size: 1.7em;
}

.home-carousel-caption .home-carousel-title {
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4em;
}

.home-carousel-caption .home-carousel-discount {
  color: #e9000f;
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 1.8em;
  letter-spacing: 1px;
  margin-bottom: 25px;
}

/*=========Product list===========*/

.product-container {
  padding: 20px;
}

.product-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-container h5 {
  text-transform: capitalize;
  font-size: 1rem;
}

.slick-prev,
.slick-next {
  display: none !important;
}

.productList-body,
.category-list {
  -webkit-box-shadow: 2px 6px 15px -7px rgba(166, 166, 166, 1);
  -moz-box-shadow: 2px 6px 15px -7px rgba(166, 166, 166, 1);
  box-shadow: 2px 6px 15px -7px rgba(166, 166, 166, 1);
  background-color: #fff;
  padding: 10px;
  margin-top: 20px;
}

.product-card {
  height: 300px;
  border-right: 1px solid #e4e6ec;
  padding: 15px;
  text-align: center;
  position: relative;
  transition: 0.6s ease;
  cursor: pointer;
}

.stock-status {
  font-size: 14px;
  margin-top: -10px;
  padding: 0px 10px 0px 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
}

.stock-status-in {
  background: #e2f2c4;
}

.stock-status-out {
  background: #fbe7ab;
}

.category-card {
  height: 200px;
  border-right: 1px solid #e4e6ec;
  padding: 15px;
  text-align: center;
  position: relative;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}

.category-card-body {
  vertical-align: middle;
  margin: auto;
  width: 70%;
}

.category-img-area {
  height: 140px;
}

.category-card-body img {
  width: 100%;
  height: 100%;
}

.category-title {
  font-size: 0.8rem !important;
  margin-top: 15px;
}

.product-card .product-purchase-section {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 5%;
  top: 20%;
  opacity: 0;
}

.product-card:hover .product-purchase-section {
  opacity: 1;
}

.product-card .product-purchase-section button {
  margin: 10px 0px;
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 4px 15px -9px rgba(43, 43, 43, 1);
  -moz-box-shadow: 0px 4px 15px -9px rgba(43, 43, 43, 1);
  box-shadow: 0px 4px 15px -9px rgba(43, 43, 43, 1);
  background-color: #ffffff;
  color: #8b8b8b;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.product-card .product-purchase-section .add_to_cart,
.product-card .product-purchase-section .withlist,
.product-card .product-purchase-section .details {
  transition: all 0.5s ease;
}

.product-card .product-purchase-section .add_to_cart:hover,
.product-card .product-purchase-section .withlist:hover,
.product-card .product-purchase-section .details:hover {
  color: #e9000f !important;
}

.product-card .product-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.product-card .product-card-body img {
  height: 100px;
}

.active-price {
  color: #e90110;
  margin-bottom: 0px;
  font-size: 20px;
}

.inactive-price {
  font-size: 14px;
}

.inactive-price del {
  color: gray;
}

.inactive-price .discount-percent {
  color: #000000;
}

.price-area {
  margin-top: -10px;
  height: 65px;
}

.rating {
  display: flex;
  justify-content: center;
}

.product-card .product-card-body .product-title {
  height: 50px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
}

.product-card .product-card-body .rating {
  margin-top: -12px;
}

.company-policy-container {
  background-color: #e9000f;
  padding: 20px 0px;
  color: #ffffff;
}

/*=============Company policy section==================*/

.policy-card {
  text-align: center;
  margin-bottom: 10px;
  padding: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.policy-card:hover {
  -webkit-box-shadow: 0px 4px 15px -9px rgba(43, 43, 43, 1);
  -moz-box-shadow: 0px 4px 15px -9px rgba(43, 43, 43, 1);
  box-shadow: 0px 4px 15px -9px rgba(43, 43, 43, 1);
  transform: translateY(-10px);
  background-color: #ffffff;
  border-radius: 6px;
  color: #8b8b8b;
}

.policy-card img {
  width: 70px;
  /* filter: brightness(10); */
}

.policy-card .policy-card-title {
  text-transform: capitalize;
  margin-top: 10px;
  font-weight: 700;
}

/*=============Company policy section close==================*/

/*=====================Shop by brand section==================*/

.shop-card .shop-logo {
  border: 2px solid #8b8b8b;
  margin: 10px;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.shop-card img {
  width: 100px;
}

.shop-card .shop-logo:hover {
  -webkit-box-shadow: 0px 4px 15px -9px rgba(43, 43, 43, 1);
  -moz-box-shadow: 0px 4px 15px -9px rgba(43, 43, 43, 1);
  box-shadow: 0px 4px 15px -9px rgba(43, 43, 43, 1);
  transform: translateY(-5px);
}

/*=====================Shop by brand section close==================*/

/*=====================top products==================*/

.top-product-card {
  height: 220px;
  position: relative;
  padding: 10px;
  color: #ffffff;
  font-weight: bold;
}

.top-product-card .top-product-details {
  position: absolute;
  top: 10%;
  left: 5%;
}

.top-product-card .top-product-details .title {
  color: rgb(255, 174, 0);
  font-weight: bold;
}

.top-product-card .top-product-details .top-product-name {
  font-size: 1.5em;
  font-weight: 600;
}

.top-product-card .top-product-details .price {
  font-size: 1.3em;
  color: rgb(255, 174, 0);
}

.top-product-card .top-product-details sup {
  color: rgb(255, 174, 0);
}

.top-product-card .top-product-banner img {
  width: 100%;
}

/*=====================top products close==================*/

/*=====================Flash Deal section==================*/

.flashDealButton {
  background-color: #e9000f;
  color: #f6f6f6;
  border: 2px solid #e9000f;
  outline: none;
  font-weight: 600;
  text-align: left;
  -webkit-border-radius: 6px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 999;
  border: 1px solid #fff;
  -webkit-border-radius: 6px 0px 0px 6px;
  border-radius: 6px 0px 0px 6px;
  border-right: transparent;
  font-size: 14px;
  padding: 5px;
}

.flashDealButton:hover {
  background-color: #f6f6f6;
  color: #e9000f;
}

.flash-deal-section {
  padding: 10px;
  margin-top: 20px;
}

.flash-deal-card {
  -webkit-box-shadow: 2px 6px 15px -7px rgba(166, 166, 166, 1);
  -moz-box-shadow: 2px 6px 15px -7px rgba(166, 166, 166, 1);
  box-shadow: 2px 6px 15px -7px rgba(166, 166, 166, 1);
  background-color: #fff;
  padding: 10px;
  display: flex;
  border-radius: 5px;
  height: 330px;
  margin-bottom: 10px;
}

.flash-deal-img {
  width: 45%;
  padding: 5px;
  height: auto;
  overflow: hidden;
}

.flash-deal-detail {
  width: 65%;
  font-size: 16px;
}

.flash-deal-detail .title {
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 600;
}

.flash-deal-detail .price,
.inStock {
  color: #9c9a9a;
  font-weight: 500;
}

.flash-deal-detail .price .offerPrice {
  color: #e9000f !important;
  font-size: 22px;
}

.flash-deal-detail .inStock span {
  color: rgb(0, 119, 255) !important;
}

/*==========Flash count========*/

.displayedTime {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
}

.countBox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.countBox .countBoxItem .count {
  background-color: transparent !important;
  font-size: 1.2em;
  font-weight: 500;
}

/*=====================Flash Deal section close==================*/

/*=====================New Collection section==================*/

.section-heading {
  font-size: 17px !important;
  font-weight: 600;
}

.new-collection-section {
  -webkit-box-shadow: 2px 6px 15px -7px rgba(166, 166, 166, 1);
  -moz-box-shadow: 2px 6px 15px -7px rgba(166, 166, 166, 1);
  box-shadow: 2px 6px 15px -7px rgba(166, 166, 166, 1);
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  height: auto;
}

.home-appliance {
  background-color: #d8d8d8;
  height: 350px;
}

.stationary_carft {
  height: 350px;
  background-color: #f9d452;
}

.home-appliance .new-collection-details,
.stationary_carft .new-collection-details {
  padding: 10px;
}

.home-appliance .collection-banner,
.stationary_carft .collection-banner {
  position: absolute;
  bottom: 5%;
  text-align: center;
}

.home-appliance .collection-banner img,
.stationary_carft .collection-banner img {
  width: 60%;
}

.new-collection-details p {
  font-weight: 600;
}

.collectionBtn {
  background-color: #fff;
  border: 2px solid #fff;
  outline: none;
  border-radius: 20px;
  padding: 5px 10px;
  font-weight: 500;
  transition: 0.5s;
}

.collectionBtn:hover {
  background-color: transparent;
}

.new-collection-card .custome-new-collection-details {
  position: absolute;
  padding: 15px;
  color: #fff !important;
}

.new-collection-card .custome-new-collection-details .title {
  font-size: 2.2em !important;
  font-weight: 700;
}

/*=====================New Collection section close==================*/

/*=====================Offer Product==================*/

.offer_product_section,
.offer_product_section-right {
  -webkit-box-shadow: 2px 6px 15px -7px rgba(166, 166, 166, 1);
  -moz-box-shadow: 2px 6px 15px -7px rgba(166, 166, 166, 1);
  box-shadow: 2px 6px 15px -7px rgba(166, 166, 166, 1);
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  height: 280px;
  margin-bottom: 15px;
  overflow: hidden;
}

.offer_product_section img {
  height: 270px !important;
}

.offer_product_section-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer_product_section-right .offer_product_details {
  width: 30%;
  padding: 5px;
}

.offer_product_section-right .offer_product_details h2 {
  text-transform: uppercase;
}

.offer_product_section-right .offer_product_img img {
  height: 260px;
  width: 100%;
}

/*=====================Offer Product Close==================*/

/*======================Custome Modal==================*/

.modal_close_btn {
  background-color: #ff3c20;
  border: 2px solid #ff3c20;
  color: #f6f6f6;
  font-size: 24px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: grid;
  align-content: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.modal_close_btn:hover {
  background-color: #f6f6f6;
  color: #ff3c20;
}

.product_details_img_gallery img {
  width: 80px;
  border: 1px solid #d6d6d6;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.product_details_img_gallery .select_img {
  border: 2px solid #ff3c20 !important;
}

.product_img {
  width: 100%;
  /* height: 90%; */
  padding: 10px;
  margin: 5px;
  text-align: center;
  border: 1px solid #d6d6d6;
}

.product_img img {
  width: 100% !important;
  height: 400px !important;
}

.product_details_section .product_title {
  font-weight: 600;
  font-size: 18px;
}

.product_price {
  color: #ff3c20;
  font-weight: 600 !important;
  margin-top: 20px;
}

.product_price .product_offerPrice {
  color: #d8d8d8 !important;
  font-weight: 600;
  font-size: 24px;
  text-decoration: line-through;
  margin-left: 10px;
}

.product_details_section .product_description {
  font-size: 15px;
  text-align: justify;
  color: #8b8b8b;
  margin-top: 5px;
}

.product_details_quantity_section {
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 10px;
}

.quantity {
  background-color: #f9f9f9;
  padding: 5px 10px;
  border-radius: 25px;
  width: 150px;
  margin-top: 20px;
}

.quantity button {
  border: none;
  outline: none;
  background-color: transparent;
}

.quantity input {
  border: none;
  outline: none;
  text-align: center;
  width: 56%;
  background-color: transparent;
}

.product_details_quantity_section .color_picker {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.product_details_quantity_section .color_picker .colorBox {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

.product_details_quantity_section .addToCartBtn {
  background-color: #ff3c20;
  color: #fff;
  border: 2px solid #ff3c20;
  border-radius: 25px;
  text-align: center;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.product_details_quantity_section .addToCartBtn:hover {
  background-color: #ffff;
  color: #ff3c20;
}

.product_details_quantity_section .buyBtn {
  background-color: #8b8b8b;
  color: #fff;
  border: 2px solid #8b8b8b;
  border-radius: 25px;
  text-align: center;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 25px;
  transition: 0.5s;
}

.product_details_quantity_section .buyBtn:hover {
  background-color: #ffff;
  color: #8b8b8b;
}

.product_details_bottom {
  display: flex;
  flex-direction: column;
  position: relative;
}

.product_details_bottom .Product_bottom_socail_media {
  text-align: right;
  margin-bottom: 10px;
}

.product_details_bottom .category_tags {
  font-weight: bold;
  font-size: 14px;
}

.product_details_bottom .category_tags p {
  margin-left: 10px;
  color: #8b8b8b;
}

.js-image-zoom__zoomed-image {
  border-radius: 5px !important;
  z-index: 99999 !important;
  width: 550px !important;
  height: 450px !important;
  right: -14px !important;
  top: -12px !important;
  border: 1px solid #cdcdcd;
  background-color: white !important;
}

/* .product_img .product-details-img{
    height: 450px;
  } */

/*======================Custome Modal Close==================*/

/*===========Footer Start========*/

.footer-section {
  background-color: #172337;
  color: #fff;
  width: 100%;
}

.footer-info {
  padding: 30px 10px;
}

.footer-info h5 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
}

.footer-info a {
  text-decoration: none !important;
  color: #fff;
  display: block;
  margin: 10px 0px;
}

.footer-info a:hover {
  color: rgb(202, 202, 202);
}

.footer-info p,
.footer-info input,
.footer-info a,
.footer-bottom p {
  font-size: 14px;
}

.footer-bottom {
  border-top: 2px solid #707070;
  /* padding: 5px; */
}

.footer-bottom .footer-bottom-info p {
  margin-top: 5px;
}

.footer-bottom .footer-bottom-info p span {
  text-transform: uppercase;
  font-weight: bold;
}

/*======Social Media======*/

.social-media li {
  list-style-type: none;
  display: inline-block;
  margin: 10px 5px;
  color: #fff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 1.3em;
  cursor: pointer;
  transition: 0.5s;
}

.social-media li a {
  color: #fff;
  transition: 0.5s;
}

.social-media .social-facebook {
  background-color: #6081c4;
  border: 2px solid #6081c4;
}

.social-media .social-facebook:hover {
  background-color: #fff;
}

.social-media .social-facebook:hover a {
  color: #6081c4;
}

.social-media .social-twitter {
  background-color: #43bdef;
  border: 2px solid #43bdef;
}

.social-media .social-twitter:hover {
  background-color: #fff;
  color: #43bdef !important;
}

.social-media .social-twitter:hover a {
  color: #43bdef;
}

.social-media .social-linkedIn {
  background-color: #2797cf;
  border: 2px solid #2797cf;
}

.social-media .social-linkedIn:hover {
  background-color: #fff;
  color: #2797cf !important;
}

.social-media .social-linkedIn:hover a {
  color: #2797cf;
}

.social-media .social-whatsApp {
  background-color: #23b180;
  border: 2px solid #23b180;
}

.social-media .social-whatsApp:hover {
  background-color: #fff;
  color: #23b180 !important;
}

.social-media .social-whatsApp:hover a {
  color: #23b180;
}

.social-media .social-instagram {
  background-color: #e46258;
  border: 2px solid #e46258;
}

.social-media .social-instagram:hover {
  background-color: #fff;
  color: #e46258 !important;
}

.social-media .social-instagram:hover a {
  color: #e46258;
}

/*===========Footer Close========*/

/*==========Scroll top to bottom========*/

.styles_scroll-to-top__2A70v {
  background-color: white;
  right: 35px !important;
  bottom: 35px !important;
  position: fixed;
  z-index: 2;
  cursor: pointer;
  border-radius: 7px;
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
  transition: 0.7s !important;
  /* transition: opacity 1s ease-in-out; */
  box-shadow: 0 9px 25px 0 rgb(132 128 177 / 28%);
  border: 1px solid #e9000f !important;
  outline: none;
}

.styles_scroll-to-top__2A70v svg {
  margin-bottom: 12px;
  fill: #e9000f;
}

.styles_scroll-to-top__2A70v:hover {
  background-color: #e9000f;
  border: 1px solid rgba(255, 255, 255, 0.959) !important;
}

.styles_scroll-to-top__2A70v:hover svg {
  fill: #ffff !important;
  color: #ffff;
}

.category_banner_section {
  position: relative;
}

.category_direction {
  position: absolute;
  bottom: 10%;
  left: 20%;
}

.category_direction p {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.product_filter_heading {
  color: #ff3c20;
  font-size: 24px;
  text-align: center;
}

.product_filter_heading::after {
  content: "";
  border-bottom: 5px solid #e7e7e7;
  width: 90%;
  display: block;
  margin-top: 15px;
  margin-left: 15px;
}

.filter_view span {
  font-weight: 700;
  font-size: 16px;
  margin-right: 5px;
}

#exampleFormSelectCustom {
  height: 30px;
  font-size: 12px;
}

.filter_view .filter_columns {
  margin: 0px 10px;
  color: #a0a0a0;
  font-size: 16px;
  cursor: pointer;
}

.column_active {
  color: #ff3c20 !important;
}

.categories_wise_product_card .product-purchase-section {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 10%;
  top: 15%;
  opacity: 0;
}

.categories_wise_product_card:hover .product-purchase-section {
  opacity: 1;
}

.categories_wise_product_card .product-purchase-section button {
  margin: 10px 0px;
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 4px 15px -9px rgba(43, 43, 43, 1);
  -moz-box-shadow: 0px 4px 15px -9px rgba(43, 43, 43, 1);
  box-shadow: 0px 4px 15px -9px rgba(43, 43, 43, 1);
  background-color: #ffffff;
  color: #8b8b8b;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.categories_wise_product_card .product-purchase-section .withlist {
  color: #e9000f !important;
}

.filter_column_3 {
  height: 350px;
  /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; */
}

.filter_column_10 .product-card-body {
  /* height: 350px; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.filter_column_3 .product-card-body {
  text-align: center;
}

.filter_column_3 .product-card-body img {
  height: 150px !important;
}

.filter_column_10 .product-card-body img {
  height: 200px !important;
  margin-right: 25px;
}

.filter_column_3 .product-card-body .product-title {
  font-weight: 500;
  font-size: 16px;
  overflow: hidden;
  height: 45px;
}

.filter_column_10 .product-card-body .product-title {
  font-size: 16px;
  font-weight: 700;
}

.filter_column_3 .product-card-body .product_pirce {
  display: flex;
  font-weight: bold;
}

.filter_column_10 .product-card-body .product_pirce {
  display: flex;
  font-weight: bold;
  font-size: 22px;
}

.filter_column_3 .product-card-body .product_pirce .offerPrice {
  color: #ff3c20;
  margin-left: 10px;
}

.filter_column_10 .product-card-body .product_pirce .offerPrice {
  color: #ff3c20;
}

.categories_wise_product_card .product-card-body .product_pirce .price {
  color: #cdcdcd;
  margin-left: 10px;
}

.filter_title {
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
}

.filter_title::after {
  content: "";
  border-bottom: 3px solid #e7e7e7;
  width: 100%;
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
}

.active_category {
  color: red;
}

.input-range {
  height: 3rem !important;
}

.price_range {
  padding: 10px;
}

.input-range__label--min,
.input-range__label--max {
  bottom: -1.4rem;
  position: absolute;
  display: none;
}

.input-range__track--active {
  background: #ff3c20 !important;
}

.input-range__slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #ff3c20 !important;
  border: 1px solid #ff3c20 !important;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 1rem;
  margin-left: -0.5rem;
  margin-top: -0.65rem;
  outline: none;
  position: absolute;
  top: 50%;
  -webkit-transition: -webkit-transform 0.3s ease-out,
    -webkit-box-shadow 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out,
    -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
  width: 1rem;
}

.filter_by_colour_outer {
  display: inline-block;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 50%;
  padding: 3px;
  cursor: pointer;
}

.filter_by_colour_outer .color_filter {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.filter_size_btn {
  /* padding: 5px!important; */
  margin: 5px !important;
}

.MuiButton-root {
  color: rgba(0, 0, 0, 0.87);
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 50px !important;
}

.account_info .nav-tabs {
  border-bottom: 1px solid #e9000f;
}

.account_info .nav-tabs .nav-link {
  border: none !important;
  font-size: 1.5rem;
  color: #797a87 !important;
  font-weight: 700;
  text-transform: none;
  padding: 1% 10% !important;
  width: 50%;
}

.account_info .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #fff !important;
  background-color: #e9000f !important;
  padding: 1% 10% !important;
}

h5.account_title {
  color: #16b62c;
  margin-top: 20px;
  font-weight: 700;
  font-family: system-ui;
}

p.account_sub_tite {
  font-size: initial;
}

.account_info_label {
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 700;
}

.account_info_label a,
.already_account a {
  color: #ff3c20;
  margin-left: 10px;
  transition: 0.5s;
}

.account_info_label a:hover,
.already_account a:hover {
  text-decoration: none;
  color: #f12506;
}

.account_btn_group {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  flex-wrap: wrap;
}

.account_btn_group .account_btn {
  background-color: #16b62a;
  border: 2px solid #16b62a;
  color: #fff;
  font-weight: 600;
  transition: all 0.5s ease;
}

.account_btn_group .account_btn:hover {
  background-color: #ffff;
  color: #16b62a;
}

.account_btn_group p {
  font-size: 15px;
  font-weight: 700;
  text-transform: none;
  margin: 10px;
  padding-top: 10px;
}

.account_btn_group .google_btn {
  background-color: #ff3c20;
  border: 2px solid #ff3c20;
  color: #fff;
  font-weight: 600;
  transition: all 0.5s ease;
}

.account_btn_group .google_btn:hover {
  background-color: #ffff;
  color: #ff3c20;
}

.account_btn_group .facebook_btn {
  background-color: #3b5998;
  border: 2px solid #3b5998;
  color: #fff;
  font-weight: 600;
  transition: all 0.5s ease;
}

.account_btn_group .facebook_btn:hover {
  background-color: #ffff;
  color: #3b5998;
}

.already_account {
  text-align: center;
  margin-top: 30px;
  font-size: 17px;
  font-weight: 700;
}

.account_input_group {
  position: relative;
}

.account_input_group_prepend {
  position: absolute;
  right: 10px;
  top: 6px;
  cursor: pointer;
}

.forget_password_link a {
  color: #c4cdce;
  font-weight: 700;
  font-family: system-ui;
}

.forget_password_link a:hover {
  color: #bbbbbb;
  text-decoration: none;
}

.styles_ReactSwipeButton__2WML2 {
  height: 40px !important;
  margin-top: 38px !important;
}

.styles_rsbContainer__KXpXK {
  background: #ffe7e9 !important;
  color: #000 !important;
  border-radius: 5px !important;
}

.styles_rsbcText__16wA0 {
  position: absolute;
  /* right: 25px!important; */
  left: 25% !important;
  color: #000 !important;
  font-weight: 500;
  font-family: system-ui !important;
  line-height: 40px !important;
}

.styles_rsbcSliderCircle__3G0Zs {
  border-radius: 1px !important;
}

.styles_rsbcSliderArrow__2D9q4 {
  position: absolute;
  transform: rotate(45deg);
  border: 3px solid #fff;
  height: 10px !important;
  width: 10px !important;
  top: 40% !important;
  right: 20px !important;
  margin-top: -6px;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform-origin: center;
  z-index: 10;
}

.styles_rsbContainerUnlocked__1T0vd {
  width: 100% !important;
  border-radius: 5px !important;
  margin-left: 0px !important;
  transition: 0.5s;
  cursor: default;
}

.styles_rsbcSlider__1yYxD {
  border-radius: 5px !important;
}

p.error_message {
  color: #f33a1e;
  font-weight: 500;
  font-family: system-ui;
  font-size: 15px;
  text-transform: none;
  margin-top: 10px;
}

/*** sidebar area **/

.sidebar {
  padding: 10px 20px;
  margin: 50px 0px;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}

.sidebar ul li {
  list-style: none;
  padding: 15px 0px;
}

.sidebar ul li a {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.edit_profile_link {
  font-size: 13px;
  color: #e9000f;
  cursor: pointer;
}

p.user_name {
  font-weight: 700;
  font-size: 16px;
}

span.user_icon {
  font-size: 18px;
  margin-right: 10px;
}

span.user_email,
span.user_phone,
span.user_address {
  font-size: 15px;
  font-weight: 500;
}

.default_height {
  min-height: 298px;
}

p.address_sub_title {
  font-size: 12px;
  font-weight: 500;
  color: darkgrey;
}

.loading_component {
  display: flex;
  align-items: center;
}

.loading_component p {
  margin-left: 14px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 12px;
}

.loading_component .spinner-border {
  height: 1.4rem;
  width: 1.4rem;
}

.user_profile_setting_body {
  /* background-color: #e1f1eb78; */
  padding: 20px;
}

.address_book_updated {
  background-color: #e1f1eb78;
  padding: 10px;
}

.profile_account,
.inner_product_list {
  /* background-color: rgb(255 255 255 / 77%); */
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.custome_form_group {
  margin-bottom: 10px;
}

.custome_form_group label {
  font-size: 16px;
  font-weight: 500;
  color: darkgrey;
}

.custom_form_input {
  width: 100%;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  padding: 5px;
}

.css-yk16xz-control {
  border-color: #f1f1f1 !important;
  /* font-size: 16px; */
}

.wishlist_list_product_details h5.product_name {
  font-weight: 600;
  font-size: 20px;
}

.wishlist_wishIcon {
  color: #e9000f;
}

/*=========== Search ========*/

ext.card-title.h5 {
  font-size: 22px;
}

.searchCardText h1 {
  font-size: 20px;
}

.sidebar-card-title.searchtext.pl-3.pt-3 {
  margin-right: 15px;
}

.searchBorder.border-top {
  width: 100%;
  /* margin-left: -8px; */
}

.searchImg img {
  height: 185px;
}

/* .searchBody.card-body {
  height: 125px;
} */

p.text-secondary.mb-0 {
  text-decoration: line-through;
  display: inline;
}

.searchBody p.card-text.mb-0.float-left {
  font-size: 14px;
}

.searchInput {
  border-radius: 6px 6px 0px 0px;
}

.search-suggestion-area {
  height: auto;
  min-height: 100px;
  max-height: 300px;
  z-index: 10;
  position: absolute;
  background: #eee;
  top: 100%;
  width: 90%;
  border-radius: 0px 0px 25px 25px;
  color: #111;
  overflow-y: auto;
}

.search-suggestion-item img {
  width: 50px;
}

.search-suggestion-area .text-danger {
  font-size: 13px;
  margin-top: 20px !important;
}

.search-suggestion-item {
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  width: 100% !important;
  background: white;
}

.search-suggestion-item .search-title {
  font-size: 15px;
  margin-top: 10px;
  margin-left: 20px;
  width: 300px;
}

.search-suggestion-item .search-price {
  font-size: 15px;
  margin-top: 10px;
  margin-left: 20px;
}

.cart_item_box_top {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 2px solid #0000006b;
}

.cart_item_box_top_1 {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 10px 15px;
}

.cart_items_by_shop {
  border-bottom: 1px solid #0000006b;
  border-top: 1px solid #0000006b;
}

.carts_delete {
  display: flex;
  font-size: 18px !important;
  cursor: pointer;
}

.cart_trash {
  margin: 3px;
  font-weight: 600;
}

.cart_trash svg {
  margin: 3px;
  stroke-width: 4px !important;
}

.cart_details_body {
  color: #e9000f;
  font-weight: 700;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: baseline;
  align-items: baseline;
  margin-top: -6px;
  margin-left: 5px;
}

.cart_details_body p {
  font-size: 16px;
}

p.Spend {
  padding-left: 2.4rem;
  color: #bbb;
  font-weight: 500;
  font-size: 0.77rem;
  margin-top: -20px;
}

p.estimate {
  font-size: 14px;
  font-weight: 500;
}

.cart_items_details {
  padding: 20px;
  border-bottom: 1px solid darkgrey;
}
.cart_items_details:last-child {
  border-bottom: none;
}
.cart_checkout_margin {
  margin-top: 44px;
}

.product_cart_inner {
  /* display: flex; */
}

.product_cart_left {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.product_cart_img {
  width: 80px;
  /* margin-left: 15px; */
}

/* .cart-checkbox {
  width: 1.1rem;
  margin-top: 5px;
  height: 1.1rem;
} */

h4.innser_cart_product_name {
  font-size: 14px;
  font-weight: 600;
}

.cart_product_info {
  font-size: 12px;
  font-weight: 500;
  color: darkgrey;
}

.cart_product_price {
  margin-top: 10px;
}

.cart_product_price span.price {
  color: #e9000f;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 600;
}

.cart_product_price span.offer_price {
  text-decoration: line-through;
  color: #bcbcbc;
  font-weight: 700;
  font-size: 14px;
}

.discount_percantage {
  font-size: 14px;
}

.product_cart_purchase {
  display: flex;
  align-items: center;
}

.cart_wish_list,
.remove_product_from_cart {
  margin: 15px;
  margin-top: 34px;
  color: gray;
  font-size: 20px;
  transition: 0.9s ease;
}

.cart_wish_list:hover,
.remove_product_from_cart:hover {
  color: #e9000f;
  cursor: pointer;
}

.custom_secondary_btn {
  background-color: grey;
  color: #fff !important;
  border: 2px solid grey;
  padding: 5px 15px;
  border-radius: 3px;
  font-weight: 600;
  transition: 0.6s;
  text-transform: capitalize;
  text-decoration: none !important;
}

.custom_secondary_btn:hover {
  background-color: #fff;
  color: grey !important;
  text-decoration: none;
}

.remove_title {
  font-size: 22px;
  font-weight: 700;
  margin-top: 30px;
}

.close_btn {
  background-color: grey;
  color: #fff !important;
  padding: 1px 8px;
  border-radius: 3px;
  font-weight: 600;
  transition: 0.6s;
  text-transform: capitalize;
  text-decoration: none !important;
  position: absolute;
  right: 20px;
  border-radius: 50%;
}

.close_btn:hover {
  background-color: #e9000f;
  text-decoration: none;
}
h4.delivery_info_title {
  font-size: 24px;
  font-weight: 600;
}
p.delivery_info_sub_title {
  font-weight: 700;
  font-size: 16px;
  margin-top: 10px;
}
.deliver_info_footer h6.select_title {
  font-weight: 600;
  text-transform: none;
}
.home_btn {
  background-color: #782eca !important;
  color: #ffff !important;
}
.office_btn {
  background-color: #00acd5 !important;
  color: #ffff !important;
}

/** Page title **/
.page-title {
  padding-top: 20px;
  font-size: 25px;
  font-weight: normal;
}

/*=====Payment methods======*/
.checkoutPayment {
  background-color: #f8f9fa;
}

.payment-method {
  background-color: #f5f6f9;
  text-align: center;
  padding: 20px;
  margin-right: 10px !important;
  border-radius: 6px;
  cursor: pointer;
  min-width: 160px;
}

.payment-method.active {
  background: #e9f8ed;
  border: 1px dotted #ccc;
  margin-bottom: 10px;
}

.payment-method img {
  width: 60px;
}

.bkash p {
  font-size: 16px;
  margin-bottom: 4px;
}

.custom-pay-btn {
  background-color: #172337 !important;
  color: #fff !important;
  width: 100%;
}

.giftCardList img {
  width: 100%;
  height: 180px;
  border-radius: 5px;
}

/**====================user order list==============*/
.order_section .order_title {
  font-size: 1.3rem;
}

.order_filter_section {
  margin-top: 15px;
}
.order_filter_section .nav-tabs {
  border-bottom: 1px solid #e9000f;
}

.order_filter_section .nav-tabs .nav-link {
  border        : none !important;
  color         : #797a87 !important;
  font-weight   : 700;
  text-transform: none;
  padding       : 5px 25px !important;
}

.order_filter_section .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color           : #fff !important;
  background-color: #e9000f !important;
  padding         : 5px 25px !important;
}
.filter_selection {
  width: 240px;
}
.order_list_filtered{
  border-bottom: 2px solid darkgray;
}
