.modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-box {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 45%;
    width: 43%;
    z-index: 101;
    overflow-y: auto;
  }

  .modal-children {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .modal-scrollbar:hover::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
    border-radius: 5px;
  }
  
  .modal-scrollbar::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
    border-radius: 5px;
  }
  
  .modal-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #b6b6b6;
    border-radius: 5px;
  }
  