@media only screen and (min-width:1020px) and (max-width: 1029px) {}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 768px) {
  .menu_list {
    padding: 15px;
    padding-left: 1%;
  }
  .header-search-product {
    width: 100%;
    margin: 20px 0px;
  }
  .home-banner-carousel img {
    height: 350px;
  }
  .home-carousel-caption {
    text-align: left!important;
    padding: 50px 20px!important;
    width: 60%;
  }
  .home-carousel-caption .homec-carousel-text {
    font-size: 1.1em;
  }
  .home-carousel-caption .home-carousel-title {
    font-size: 2em;
  }
  .home-carousel-caption .home-carousel-discount {
    font-size: .8em;
    margin-bottom: 25px;
  }
  .offer_product_section-right .offer_product_details {
    width: 35%;
  }
  .offer_product_section-right .offer_product_img {
    width: 65%;
  }
  .offer_product_section img {
    height: 260px;
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {}

@media only screen and (min-width: 500px) and (max-width: 560px) {}

@media only screen and (max-width: 479px) {}

@media (max-width: 400px) {}