@media only screen and (max-width: 479px) {
  .home-banner-carousel img {
    height: 240px;
  }
  .section-heading {
    font-size: 22px !important;
    font-weight: 700;
    text-transform: uppercase !important;
  }
  .img-fluid {
    height: 300px;
  }
  
}
